.emoji-card-container {
    background-color: #ffffff33;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .emoji-card-container:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  }
  
  button {
    background: none;
    border: none;
  }
  